<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <title>G9-KART</title>
      <style>
      h1 { background-color: yellow; text-align: center; }
      body { font-family: monospace; color: #440; background-color: #fefefe; }
    </style>
</head>
  <body>
      <h1>G9-kart, femte etasje</h1>
      <img src="/g9map_5th.jpg" width="100%" />
  </body>
</html>
